{% extends 'user_manager/base.html' %}
{% block site_title %} Expense detail {% endblock %}
{% block page_heading %} Expense detail {% endblock page_heading %}

{% block content %}

Expense name: {{ object.expense_name }}</br>
Expense value: {{ object.expense_value }}</br>
Comment: {{ object.comment }}</br>
Expense date: {{ object.expense.date }}</br>
Category: {{ object.expense_category }}</br></p>

<a href="{% url 'expense_delete' expense.id %}" class="btn btn-primary">Delete expense</a>
<a href="{% url 'expense_update' expense.id %}" class="btn btn-primary">Edit expense</a>
<a href="{% url 'expense_list' %}" class="btn btn-primary">Back to expense list</a>

{% endblock content %}
