{% extends 'user_manager/base.html' %}
{% block title %} Add expense {% endblock %}
{% block page_heading %} Add new expense {% endblock page_heading %}

{% block content %}

<div class="p-5">
    <form method="post" class="expense">
    {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-12 mb-3 mb-sm-0">
                <label for="id_expense_name">Expense name:</label>
                <input type="text" name="expense_name" required id="id_expense_name" class="form-control form-control-expense"
                       placeholder="Expense name">

            </div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control form-control-user" id="expensevalue"
                   placeholder="Expense value">
        </div>

        <div class="form-group row ">
            <div class="col-sm-12 mb-3 mb-sm-0">
                <input type="text" class="form-control form-control-expense"
                       id="comment" placeholder="Comment">
            </div>
        </div>

        <div class="form-group">
            <input type="date form.expense_name" class="form-control form-control-user"
                   id="exampleRepeatPassword" placeholder="Expense date YYYY-MM-DD">
        </div>

            <div class="form-group">
            <input type="select" class="form-control form-control-user"
                   id="category" placeholder="Category">
        </div>

    <input type="submit" value="Save expense" class="btn btn-primary btn-user btn-block">

    </form>
</div>

{% endblock content %}

<button onclick="location.href='{% url 'expense_list' %}'" type="button">Back to expense list</button>

<form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form> <br>
