{% extends 'user_manager/base.html' %}
{% block site_title %} Add expense {% endblock %}
{% block page_heading %} Add new expense {% endblock page_heading %}

{% block content %}

<div class="col-sm-5 mb-4 mb-sm-0">
    <form method="post" action="" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Save">
        <a href="{% url 'expense_list' %}" class="btn btn-primary">Cancel</a><br>
    </form>
</div>


{% endblock content %}
