{% extends 'balance/base.html' %}
{% block site_title %} Category details {% endblock %}

{% block content %}
<h2> Category detail</h2>

<p>Category name: {{ object.category_name }}</br>
    Items in category: NEED TO BE ADDED </br>
    Total value of category: NEED TO BE ADDED</br></p>


<button onclick="location.href='{% url 'category_delete' category.id %}'" type="button">Delete category</button>
<button onclick="location.href='{% url 'category_list' %}'" type="button">Back to category list</button>

{% endblock content %}
