{% extends 'balance/base.html' %}
{% block site_title %} Category details {% endblock %}

{% block content %}
<h2> Category detail: {{ expensecategory }}</h2>


<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Expense</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {% for expense in expensecategory.expense_set.all %}
    <tr>
        <td>{{ expense }}</td>
        <td>{{ expense.expense_value }}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>

Total value of category:<br>


<button onclick="location.href='{% url 'expense_category_delete' expensecategory.id %}'" type="button">Delete category
</button>
<button onclick="location.href='{% url 'expense_category_update' expensecategory.id %}'" type="button">Edit category
</button>
<button onclick="location.href='{% url 'expense_category_list' %}'" type="button">Back to category list</button>

{% endblock content %}
