{% extends 'user_manager/base.html' %}
{% block site_title %} Category detail {% endblock %}
{% block page_heading %} Category detail {% endblock page_heading %}

{% block content %}

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Expense</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    {% for expense in expensecategory.expense_set.all %}
    <tr>
        <td>{{ expense }}</td>
        <td>{{ expense.expense_value }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'expense_category_delete' expensecategory.id %}" class="btn btn-primary">Delete category</a>
<a href="{% url 'expense_category_update' expensecategory.id %}" class="btn btn-primary">Edit category</a>
<a href="{% url 'expense_category_list' %}" class="btn btn-primary">Back to category list</a>

{% endblock content %}
