{% extends 'balance/base.html' %}
{% block site_title %} Income categories {% endblock %}

{% block content %}
<h1>Income categories list view</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {% for category in object_list %}
    <tr>
        <td><a href="{% url 'income_category_detail' category.id %}">{{ category.income_category_name }}</a></td>
    </tr>
    {% empty %}
    No categories yet
    {% endfor %}
    </tbody>
</table>

<button onclick="location.href='{% url 'income_category_create' %}'" type="button">Add new income category</button>
<button onclick="location.href='{% url 'income_list' %}'" type="button">Back to incomes list</button>

{% endblock content %}