{% extends 'user_manager/base.html' %}
{% block site_title %} Categories {% endblock %}
{% block page_heading %} Categories list {% endblock page_heading %}

{% block content %}

<div class="list-group">
    {% for category in sum_of_incomes_in_category %}
    <a href="{% url 'income_category_detail' category.id %}" class="list-group-item list-group-item-action">{{ category }}{{ category.income__income_value__sum }}</a>
            {% empty %}
        No categories yet
        {% endfor %}
</div>

{% endblock content %}