{% extends 'balance/base_generic.html' %}

{% block content %}
  <h1>Income List</h1>
  {% if income_list %}
  <ul>
    {% for income in income_list %}
      <li>
        <a href="{% url 'income_detail' income.id %}">{{ income.name }}</a> ({{ income.income_value }})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no incomes</p>
  {% endif %}
<p>No. of incomes: {{ incomes_counter }} </p>
<p>Incomes value (TOTAL): {{ incomes_value }} </p>
  <a href="{% url 'income_add' %}"> Add income </a><br>
{% endblock %}

