<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    {% if user.is_authenticated %}
        Log: {{ user.username }}
        <a href="{% url 'logout' %}">Logout</a><br>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a><br>
    {% endif %}
    This is "Hi page"<br>
    Hello!

    {% for message in messages %}
        <p id="messages">{{ message }}</p>
    {% endfor %}

</body>
</html>