<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div class="container py-5">
        <h1>Register</h1>
        <form method="POST">
		{% csrf_token %}
		{{ form.username.label }}
		{{ form.username }}<br>

		{{ form.email.label }}
		{{ form.email }}<br>

		{{ form.password1.label }}
		{{ form.password1 }}<br>

		{{ form.password2.label }}
		{{ form.password2 }}<br>

		{{ form.errors }}

		<button class="btn btn-primary" type="submit">Create user</button>
	</form>
        <p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
    </div>
</body>
</html>